<h2>Avengers</h2>
    <ul class="heroes">
        <li *ngFor='let hero of heroes' 
        (click)="onSelect(hero)" 
        [class.selected]="hero === selectedHero">
        <span class="badge">{{hero.id}}</span> {{ hero.name }}
        </li>

        <div *ngIf="selectedHero">
            <h2>{{ selectedHero.name | uppercase }} Details</h2>
            <div><span>ID: </span>{{ selectedHero.id }}</div>
            <div>
                <label>
                    <input [(ngModel)]="selectedHero.name" placeholder="Hero Name"/>
                </label>
            </div>
        </div>
    </ul>
